.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}

.microsoftEntraIcon {
  background: center/contain url('./assets/microsoft_entra.svg');
}

.background {
  background-image: url('./assets/background.png');
  background-size: cover;
}